.user-menu {
    position: relative;
}

#user-icon-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#user-icon-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.user-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--color-surface);
    border-radius: var(--border-radius-m);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 10px;
    min-width: 160px;
    z-index: 101;
}

.user-dropdown.show {
    display: block;
}

.user-dropdown a,
.user-dropdown button {
    display: block;
    width: 100%;
    text-align: right;
    padding: 8px 12px;
    color: var(--color-text);
    font-weight: 500;
    border: none;
    background: none;
    cursor: pointer;
}

.user-dropdown a:hover,
.user-dropdown button:hover {
    background-color: var(--color-background);
}

.dropdown-user-name {
    padding: 4px 8px;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-text);
    text-align: right;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 5px;
}



.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 200;
    justify-content: center;
    align-items: center;
}

.modal-overlay.show {
    display: flex;
}

.modal-content {
    background-color: var(--color-surface);
    padding: 30px;
    border-radius: var(--border-radius-m);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
    width: 90%;
    max-width: 450px;
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.8rem;
    color: var(--color-text-light);
    background: none;
    border: none;
    cursor: pointer;
}


.login-title {
    text-align: center;
    margin-bottom: 30px;
}

.form-group-icon {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-border);
    border-radius: 16px;
    padding: 10px 15px;
    margin-bottom: 15px;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    background-color: #fff;
}

.form-group-icon:focus-within {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(51, 61, 75, 0.1);
}

.input-icon { 
    width: 20px;
    height: 20px;
    margin-right: 12px;
    flex-shrink: 0;
    opacity: 0.6; 
}

.form-group-icon input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    flex-grow: 1;
    background: transparent;
    font-size: 1rem;
    color: var(--color-text);
}

.form-group-icon input::placeholder {
    color: var(--color-text-light);
}

.login-submit-btn {
    display: block;
    width: 100%;
    padding: 10px 0; 
    font-size: 1rem; 
    margin-top: 45px;
    border-radius: 16px; 
}